@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a asp-page="Menu">Menu</a>
<p></p>
<a asp-page="Privacy">Privacy Policy</a>
<p></p>
<a asp-page="About">About Us</a>
<p></p>
<img src="~/images/DinoDiner-29.png"></img>
